# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# IDE
# ======================
.idea/
*.iml
*.ipr
*.iws

.vscode/

# ======================
# Java / Build
# ======================
/target/
/build/
/out/

*.class
*.jar
*.war
*.ear

# ======================
# Logs
# ======================
*.log

# ======================
# Maven
# ======================
/.mvn/
mvnw
mvnw.cmd

# ======================
# Gradle
# ======================
.gradle/

# ======================
# Environment
# ======================
.env

# ======================
# Temporary files
# ======================
*.tmp
*.swp
*~

# ======================
# Test output
# ======================
/allure-results/
/allure-report/